[2014-02-10 12:30] mrmartineau opened #2 "Error when reaching end of items"
I get this error when using the pagination buttons (both previous/next) and reaching the end of all the items:

[code]

It points me to the `WallopProto.updatePagination` method. I will investigate this and try to fix it but I thought you should know. Have you experienced this before?

[2014-02-11 18:13] wayferer opened #3 "Issue in IE"
Thanks for making this, it's great. However I ran into the following issue when implementing today and wondering if you have some thoughts?

[code]

and it points to:

[code]

[2014-02-11 19:13] wayferer opened #4 "Issue in Firefox"
I have also noticed that in Firefox it doesn't like it when setAttribute only has one argument i.e.

[code]

throws the following error:

[code]

changing to the below removes the error:

[code]

[2014-02-13 16:51] #4 closed, assigned to peduarte

[2014-02-13 16:51] #2 closed, assigned to peduarte

[2014-02-13 17:06] #3 closed, assigned to peduarte

[2014-02-23 15:13] zvitez opened #5 "Fade demo + Nav Button disable"
Hey, this is more related to the examples you provided I guess but just in case you'd like to correct it anyway:
- in the js
  this.buttonNext.setAttribute('disabled'); should be
  this.buttonNext.setAttribute('disabled', 'true');
  Same for buttonPrevious
- in the fade css there needs to be a fadeIn effect on show-previous/next otherwise forward (next) navigation doesn't fade.

Thanks for the gre

[2014-02-24 09:37] #5 closed, assigned to nobody

[2014-03-09 17:43] fspoettel opened #6 "Fix documentation of wSCarousel"
Hey Pedro,
there is a small error on the Wallop webpage I believe my PR introduced. In the advanced code example options-object, the wSCarousel option is assigned with a = instead of a : and the S should be a capital letter. Had a giant brain fart there, sorry!

[2014-03-11 11:17] #6 closed, assigned to nobody

[2014-04-08 00:08] belens opened #7 "wrong vendor prefixes in fold animation"
https://github.com/peduarte/wallop-slider/blob/master/css/wallop-slider--fold.css
This:
@-webkit-keyframes foldright {
   0% {
     -webkit-transform: rotateY(90deg);
   }
 }
 @-moz-keyframes foldright {
   0% {
     -webkit-transform: rotateY(90deg);
   }
 }
 @-ms-keyframes foldright {
   0% {
     -webkit-transform: rotateY(90deg);
   }
 }
 @keyframes foldright {
   0% {
     transform: rotateY(

[2014-04-18 11:31] gioele opened #8 "License?"
Could you please state what is the license of wallop-slider's script files, css files and other files?

[2014-05-13 10:34] #8 closed, assigned to nobody

[2014-05-13 10:38] #7 closed, assigned to nobody

[2014-05-29 15:08] mcky opened #9 "Exercise code doesn't disable buttons"
The downloadable wallop-slider-exercise throws the error:
`Uncaught TypeError: Failed to execute 'setAttribute' on 'Element': 2 arguments required, but only 1 present.`

Due to the following line:
`this.buttonNext.setAttribute('disabled', 'disabled');` (same for buttonPrev).

Needs changing to:
`('disabled', 'disabled');` or `('disabled', true);`

Code in master branch is correct.

[2014-06-02 10:30] #9 closed, assigned to nobody

[2014-06-02 18:49] lebedev opened #11 "Bug in slide animation in Google Chrome on Mac OS"
See for yourself - [video](http://rghost.net/56100828), pictures move asynchronously in Google Chrome. Tested on Mac OS 10.8.2 and 10.9.3.
I know that this is a bug in Google Chrome on Mac OS, but my english is pretty bad, so can you do a proper bugreport about this to Chromium project?

[2014-06-07 07:28] #11 closed, assigned to nobody

[2014-06-15 09:27] trendschau opened #12 "Multiple Sliders with dynamic pages"
First of all thanks for this beautiful script, it could really become the __unslider without jquery__ :o)

I had a little bit hard times to work with multiple sliders on a dynamic generated page, but maybe I am missing some points.

The problem is, that you have different CSS-classes for the first slider ("photo-slider"-class) and the first image of a slider ("wallop-slider__item--current"-class).

[2014-06-18 07:16] sprankhub opened #13 "Implement Autoplay Option"
Implement an autoplay option (e.g. called `autoPlay`), which is a boolean that says whether the slider should slide automatically. There should also be another option (e.g. called `interval`), which is an integer that says after how many ms the slide should change when autoplay is enabled. That would be really cool :-)

Thanks for your work!

[2014-06-18 07:21] sprankhub opened #15 "Update Code in exercises.zip"
The zip file https://github.com/peduarte/wallop-slider/archive/exercise.zip, which is linked on the documentation webpage, contains rather old code. Hence, the code should be updated. Maybe it is also better to add the exercises to the repository and provide the current GitHub master as a download.

[2014-06-19 16:38] #15 closed, assigned to nobody

[2014-06-19 16:41] #13 closed, assigned to nobody

[2014-08-01 11:31] ginsterbusch opened #21 "Slider breaks if no prev/next buttons are set"
If there are no prev/next buttons set, eg. because you just want to slide to specific slides, the script breaks.

Quick solution would be something along the lines of:
[code]

[2014-10-20 15:59] horaciobella opened #23 "Not working in Safari for Windows"
Crossbrowsing test: Works fine in all browsers except on Safari for Windows (7 and 8). The "Next" button do nothing. In Safari for Mac works well.

[2014-10-29 16:12] cassianotartari opened #24 "goTo, previous, next and transition effects [bug]"
Hello!

I running with FF 33 under Ubuntu 14.10 and when I add some transition effect the previous, next and `goTo` buttons don't work property.

I've fallowed the `goTo` buttons instruction from the docs http://www.pedroduarte.me/wallop-slider/goto.html.

For example, I add  `wallop-slider--slide.css` in `head` and `wallop-slider--slide` class to `photo-slider` div. The slide go foward with next

[2014-10-30 11:34] #24 closed, assigned to nobody

[2014-11-03 14:09] peduarte opened #25 "Version 2"
Release Version 2.

Add to bower and manage tags
Create variations of the slider - backbone, angular, browserify...
Add destroy method
Add observer option (won't attach click handlers, etc. only observe you user can have full control via API)
Modify goTo to use proper indexing (starting at 0)
Cleanup repo
Re-do website and documentation
The way HammerJS did it is cool: http://hammerjs.github.io/

[2015-01-07 18:59] johntom opened #26 "Demo Website Not Available"
Hi,
I tried and failed to link to http://pedroduarte.me/wallop-slider...
TIA
John

[2015-01-29 04:05] #26 closed

[2015-02-15 11:35] thrasnic opened #27 "bower install issue"
1. bower install wallop-slider --save
- package does not contains required files, only README and .bower

2. https://codeload.github.com/peduarte/wallop-slider/zip/exercise
- does not exists

[2015-03-18 18:18] felics opened #28 "CustomEvents Polyfill breaks Android 4.0-4.3"
Solution: Use [this polyfill](https://github.com/jonathantneal/EventListener
) instead

[2015-05-22 19:37] fraincs commented on #27
you can do bower install --save https://github.com/WallopSlider/WallopSlider.js.git

[2015-05-29 00:41] MissFerrety opened #29 "Carousel TRUE"
Well, I'm working with the `wSCarousel: true` setting...

Minor Issue: The website documents it as wsCarousel! (Note the lowercase "s")

## Problem
Previous button becomes disabled on first slide

### Fix

    // Update prev/next disabled attribute
    WallopProto.updatePagination = function () {
        if ((this.currentItemIndex + 1) === this.allItemsArrayLength && this.options.wSCarousel !== tr

[2015-08-16 13:48] peduarte commented on #28
Thanks!

[2015-08-16 13:53] peduarte commented on #29
Hey,

I've released a v2 of the slider which fixed a lot of issues, including this one!

Thanks & sorry for the super late reply.

[2015-08-16 13:53] #29 closed

[2015-08-16 13:53] peduarte commented on #27
Hey,

I've released a v2 of the slider which fixed a lot of issues, including this one!

Thanks & sorry for the super late reply.

[2015-08-16 13:53] #27 closed

[2015-08-16 13:56] peduarte commented on #12
Hey,

I've released a v2 of the slider which fixed a lot of issues, including this one!

You can now instantiate the slider with an ID. New documentation in Readme.

Thanks & sorry for the super late reply.

[2015-08-16 13:56] #12 closed

[2015-08-16 13:56] #25 closed

[2015-08-16 14:08] peduarte commented on #21
Thanks!

[2015-08-16 14:08] #21 closed

[2015-08-18 07:46] peduarte commented on #28
Hey, I've released a v2 of the slider, is this still breaking?

[2015-08-18 07:47] peduarte commented on #23
Sorry but I will not support Safari for windows as it's not even supported by apple themselves

[2015-08-18 07:47] #23 closed

[2015-09-03 12:22] bryanwaddington opened #37 "Using goTo to the current slide causes slide to disappear after the transition effect"
If you set up custom pagination buttons, have a transition effect enabled and click the same custom pagination button more once then the transition effect occurs (it shouldn't) and the slide disappears. See the following example

http://codepen.io/bryanwadd/pen/wKBWwo

This seems to occur because the goTo() function assumes that you are going to a slide that is either above or below the current in

[2015-09-03 13:27] peduarte commented on #37
Ohhhhhhh, this is genius. Thank you, man.
Will look at your PR.

[2015-09-03 15:48] MissFerrety opened #39 "Scale method needs some extra styling"
I'm just checking out the examples with the default styles ([animations.html in v2.1.4](https://github.com/peduarte/wallop/blob/v2.1.4/examples/animations.html)) and noticed that the Scale method leaves behind some invisible boxes that obscure the controls.  I only played with it very briefly (AKA it can probably be done in a cleaner fashion), but I fixed the issue by containing the slides inside

[2015-09-03 16:02] bryanwaddington commented on #37
Glad to help. I have made your suggested change.

Thanks the script btw, very useful.

[2015-09-03 16:08] peduarte commented on #37
Done!

[2015-09-03 16:08] #37 closed

[2015-09-03 16:09] peduarte commented on #39
Hey there!

Interesting, I think that might be outdated.
Do you get the same issue here: http://codepen.io/peduarte/pen/jbNRZP

[2015-09-03 16:38] MissFerrety commented on #39
Works fine in the CodePen.

I just downloaded the 2.1.4 zip this morning.

[2015-09-03 17:10] peduarte commented on #39
Then I must've forgotten to update the example.
Will take a look at this tonight.

Thanks 🙌

[2015-09-03 18:13] peduarte commented on #39
Fixed! :) Thanks!

[2015-09-03 18:13] #39 closed

[2015-09-04 15:44] MissFerrety opened #40 "Fade method z-index causes slide content to be inaccessible"
Due to use of a higher `z-index` for a slide with `opacity: 0`, the user can only interact with invisible content on the previous slide.

[2015-09-04 16:09] MissFerrety opened #41 "Wallop.next() function using "showPrevious" instead of "showNext" for first slide in carousel mode"
This makes it difficult to activate the appropriate animations or transitions unless that is really what one is aiming for, but I would think the expected behavior would generally be to have consistent transitions.  Perhaps include `--first` and  `--last` classes on Wallop items, or a new option to include in the slider declaration.

[2015-09-04 18:49] peduarte commented on #40
Where are you seeing this? Codepen, or examples in this repo?

Thanks!

[2015-09-04 18:54] peduarte commented on #41
Hmmm I'm not sure I fully understand this one 😁

wallop just adds classes that it needs. If you need a `first` or `last` class in your items, feel free to add them.

wallop is very flexible and by listening to the `change` event, you can get access to the `currentItemIndex` property and again, to loads of stuff.

I wouldnt want to bloat wallop with too many more classes as I was to provide just th

[2015-09-04 19:07] MissFerrety commented on #41
What I mean is that by automatically assigning the first slide of the bunch with the opposite class than the rest of the slider is moving in, you trigger the a movement that may not be what is expected, especially since `carousel` is on by default.

With `--slide` for example, as the slider progresses through each item, things come in from the right.  However, once the first slide is reached again

[2015-09-04 19:16] peduarte commented on #41
Ah...
Yes.

I know exactly what you mean.

I am actually working on this, and I also noticed it while testing the `slide` animation.
Basically, what I am doing is introducing a `direction` variable – where it stores whether the user is navigating `forwards` or `backwards`.

This will ensure the right classes are added based on the direction of the navigation.

Thanks for raising this and well spot

[2015-09-04 19:21] MissFerrety commented on #40
Using default settings from 4.1.2, I am marking up divs that have text and buttons in them.  I noticed the issue because the button's hover state was not triggering.

[Forked original "Fade" animation Pen](http://codepen.io/MissFerrety/pen/JYoZLZ)

On initialization, the button acts as expected.  As soon as you move away from the first slide, the cursor change is still triggered.  Once you get bac

[2015-09-04 19:26] MissFerrety commented on #41
Thanks for being on top of things!  I'll look forward to a new release, as the fade animation is clouding my content (#40) and slide is my next best option. I've just overwritten my JS to only use a single set of classes since I don't have the time or budget to spend reworking anything now and hope the client doesn't ask for forward/backward navigation!

[2015-09-04 20:24] peduarte commented on #40
Fixed this :) Latest release. 2.1.6

[2015-09-04 20:24] #40 closed

[2015-09-09 11:07] crisbeto commented on #28
It still is @peduarte. I just got the same error in Safari 5.1.7

[2015-09-09 11:30] #28 closed

[2015-09-09 11:37] peduarte commented on #28
@crisbeto Nice one man!

[2015-09-09 14:37] peduarte commented on #41
@MissFerrety Just to let you know I fixed the fade animation. Will close this and create a new issue with the 'direction' task.

[2015-09-09 14:37] #41 closed

[2015-09-09 14:39] peduarte opened #43 "Store "direction""
In order to have proper circular animations (sliding carousel) we need to know if the user is navigating `forwards` or `backwards`.

A `direction` variable must be implemented to store the direction value.
This will ensure the correct classes are added to the `next` or `previous` items based on the direction of the user.

If anyone is willing to take this up and need more info, let me know. Otherw

[2015-09-12 21:38] olach opened #44 "Weird transition bug using fade transition"
So I have this weird transition bug when using the fade transition. The fade transition works as expected on all images except the last one. When the last image should be fading to the first image, the fading is failing. There is a flash instead of a smooth fade.

I encountered this on a website I'm building, and it took me some time to locate the cause. The bug seems to only occur if there is a w

[2015-09-13 08:37] olach commented on #44
I figured out it was a z-index issue. A z-index of -1 is used, which places the item to be behind the background. The solution is to change these lines:

https://github.com/peduarte/wallop/blob/master/css/wallop--fade.css#L23-L25

And replace it with this code:

[code]

[2015-09-13 10:22] benkhouya opened #45 "Slider not displayed on Android"
The slider is not displayed on Android mobile ! tested with Chrome and the native browser (Android 5.1.1)

[2015-09-13 13:39] peduarte commented on #45
Weird...
Did you test one of the Codepen examples or you tested your own thing?

If it was your own, would you care to share your implementation and maybe I can help out.

[2015-09-13 13:49] peduarte commented on #44
Hi,

wow. that's very weird indeed.

I've updated the (fade.css)[https://github.com/peduarte/wallop/blob/master/css/wallop--fade.css] file with a fix.

Thanks.

[2015-09-13 13:49] #44 closed

[2015-09-13 16:23] benkhouya commented on #45
Sorry it works fine ! Effectively the error is mine.
PS : Thanks for this useful and powerful slider.

[2015-09-13 16:23] #45 closed

[2015-09-14 09:20] peduarte commented on #45
No worries. Thanks! :smile:

[2015-09-14 09:21] peduarte commented on #44
@olach did that fix it for you?

[2015-09-14 14:50] olach commented on #44
Yes, that did solve the issue. Thanks!

[2015-09-15 09:00] jackmu95 commented on #43
I have created a pull request (https://github.com/peduarte/wallop/pull/47) which fixes the direction detection. Ans some other small issues ;)

[2015-09-15 09:18] peduarte commented on #43
🍻

[2015-09-16 06:57] jackmu95 commented on #43
This can be closed (https://github.com/peduarte/wallop/pull/47) ;)

[2015-09-16 07:03] peduarte commented on #43
Merged #47
Thanks a lot @jackmu95 👊

[2015-09-16 07:03] #43 closed

[2015-09-17 08:02] jackmu95 opened #49 "Checks for Pull requests generally fail"
As you can see [here](https://travis-ci.org/peduarte/wallop/pull_requests), Travis CI does always fail on Pull request. It's a bit confusing to see the checks for a PR fail although it's absolutely fine.

Would be nice to see this fixed :+1:

[2015-09-17 11:06] peduarte commented on #49
I tried... but https://github.com/defunctzombie/zuul/issues/86
😓

[2015-09-17 12:35] peduarte commented on #49
Anyway, I'm gonna close this as it's a problem with Zuul

[2015-09-17 12:35] #49 closed

[2015-09-22 18:57] MissFerrety opened #52 "Fade animation does not work in Safari"
What the title says :)

`animation` simply needs a duplicate `-webkit-` line.  May have this problem in other CSS as well.

[2015-09-23 09:51] peduarte commented on #52
Wuuuuuuut, thought I had fixed this! 😐🔫

Thanks!

[2015-09-24 13:00] peduarte commented on #52
Hi @MissFerrety I just checked the latest https://github.com/peduarte/wallop/blob/master/css/wallop--fade.css#L13-L16 and it has all the correct browser prefixes.

Going to close this, but feel free to re-open if I am missing something.

Thanks!

[2015-09-24 13:00] #52 closed

[2015-09-24 13:57] MissFerrety commented on #52
You got around to replying before I did... I was in kind of a rush and hadn't checked for an update.  :open_mouth: :athletic_shoe:

[2015-10-12 17:44] Gilberto06 opened #54 "Previous slides block the current slides when you use wallop--fade.css"
Hello, I love this library but I think improving this tiny detail could make it even better.

If the current slide have buttons or a div with scroll they won't work unless you send the previous slides back (z-index: 0) at the end of the animation.

You'll probably find a better solution but changing this in the wallop--fade.css fixed the issue for me:

/*
.Wallop--fade .Wallop-item--hidePrevious,

[2015-10-12 21:58] peduarte commented on #54
Thanks for this. Will take a better look when I get home.
Quick question, which version of wallop at you using?

[2015-10-13 20:54] Gilberto06 commented on #54
wallop-2.2.2

On Mon, Oct 12, 2015 at 11:58 PM, Pedro Duarte <notifications@github.com>
wrote:

--
Gilbert

[2015-10-14 08:53] peduarte commented on #54
Thanks, I'll take a look. 👍

[2015-10-15 15:10] henriquea commented on #54
Po mano arruma ai

[2015-10-20 00:45] curdin opened #55 "Multiple slides animation"
I've got a setup with multiple sliders on a page all using a slide animation. The issue is that only one actually animates as the other ones seem to get their classes stripped (they still advance but without animation)
It seems the issue happens due to the addClass code in WS.goto() or possibly the removeAllHelperSettings.

Do you have any insights on what is happening there?

[2015-10-21 14:47] daviddarnes opened #56 "Using wallop--fade stops content selection of the current item"
I am unable to select content/interact with the currently viewed item when using `wallop--fade.css`.

[2015-10-21 15:04] peduarte commented on #56
Which version of wallop are you using?
I believe your issue is related to this: https://github.com/peduarte/wallop/issues/54
I will push a fix very soon and update this.

[2015-10-21 15:04] peduarte commented on #55
Hey, that's interesting, I will look into it and get back to you.
Thanks

[2015-10-21 15:09] daviddarnes commented on #56
@peduarte you're right. I've created a PR https://github.com/peduarte/wallop/pull/57. I downloaded it today via bower, so I guess the latest (v2.2.2)?

[2015-10-21 15:11] peduarte commented on #56
Got it! Thanks! :)

[2015-10-21 15:35] peduarte commented on #55
I cannot seem to replicate your issue.
I've created this Pen to test it out: http://codepen.io/peduarte/pen/gaoEXz

Can you show me how you're getting this problem?

[2015-10-21 15:56] #56 closed

[2015-10-21 15:58] peduarte commented on #54
This should be fixed now. Please download latest release.
https://github.com/peduarte/wallop/releases/tag/v2.2.3

Thanks!

[2015-10-21 15:58] #54 closed

[2015-10-22 11:43] peduarte commented on #55
Closing as I am unable to replicate your issue, feel free to re open or ask any questions.

[2015-10-22 11:43] #55 closed

[2015-10-22 23:31] curdin commented on #55
@peduarte Apologies - i was away from a computer for a couple of days. I've updated the codepen to demostrate the issue. If you click the Advance both button you'll see that the left one fails to use a transition.
http://codepen.io/anon/pen/xwYLNJ

[2015-10-22 23:31] curdin commented on #55
(I seem to be unable to reopen this)

[2015-10-24 15:04] arjunmenon opened #58 "Background Images?"
Hey
Is there a way to make it work using `background-image`s?

Thanks.

[2015-10-26 10:38] peduarte commented on #58
Hey, yep!
Here's a quick demo: http://codepen.io/peduarte/pen/ZbxxBV?editors=110

[2015-10-27 07:07] arjunmenon commented on #58
Thats awesome.

Thanks.

[2015-10-27 20:42] arjunmenon commented on #58
Hey
There's some problem with the slide animation, atleast with background-images. Or other animations except fade.
Check this out - http://codepen.io/arjunmenon/pen/meLrqL

When you navigate the slide using those buttons, the text disappears from there. Some issue.

Please check.

Thanks.

[2015-10-27 22:44] peduarte commented on #58
I cannot replicate :(
Which browser are you using, etc?

Thanks!

[2015-10-28 07:35] arjunmenon commented on #58
Firefox 41 on Ubuntu 14.04 LTS
See this -

![5album8_clipchamp_360p](https://cloud.githubusercontent.com/assets/953959/10782227/67415e7a-7d74-11e5-896b-48959c7a9af1.gif)

Its has a loop. Please dont get confused if the text reappears. IT does not.

Additionally, on Chrome and Chrome-based browsers, I did not find any issue.

[2015-10-28 10:00] peduarte commented on #58
Woah. Mental. I wonder if it's an issue with Codepen?
Could you do me a favour, and test this link: http://s.codepen.io/boomerang/317ede4f2a0be49803bf09d6265580a31446026360277/index.html

It's basically the source of the pen but in it's own frame

[2015-10-28 11:31] arjunmenon commented on #58
That link is not working.
I can confirm that its not an issue with Codepen because that problem does exist even on my local page on my machine.

[2015-10-28 11:40] peduarte commented on #58
Ok, I'll look into it! Thanks!

[2016-02-10 20:08] jamesfzhang opened #59 "Can't use removeEventListener"
In `componentWillMount`, I add an event listener to Wallop.

[code]

In `componentWillUnmount`, I want to remove the listener

[code]

This doesn't work since Wallop's implementation of [`on` uses an anonymous function](https://github.com/peduarte/wallop/blob/master/js/Wallop.js#L157). Is it possible to use the `callback` event instead and perhaps add an `off` method? Thanks.

[2016-02-12 11:06] peduarte commented on #59
Thanks! On it.

[2016-02-16 14:45] peduarte commented on #59
Fixed

[2016-02-16 14:45] #59 closed

[2016-02-16 18:11] Le-future opened #61 "Problem with restarting autoplay"
Hey mate!

Firstly, thank you so much for this very useful plugin!

I've added an autoplay function and I'm trying to add a restart after the user clicks on his keyboard on the left or right arrow. Problem, if you click more than once on one of the arrow, the slide goes weird ^^

Here is a pen of my work : http://codepen.io/Le-future/pen/Nxexrw

Don't hesitate to press more than twice the arrow of

[2016-02-17 11:18] peduarte commented on #61
I'm not sure this is an issue with wallop itself, but with the timers in your code and also the CSS.

Im not exactly sure but it seemed like in your CSS you were overriding the animations and stuff

If you want to write custom animations, you've gotta make sure you really understand how to do it, otherwise it gets tricky.

I suggest you use some of the presets.

I updated your code here with the `

[2016-02-17 11:23] Le-future commented on #61
Thanks for the cleaning about the JS!

Actually you're right, this is not an issue with the plugin. The problem comes the setTimeout when the user clicks on the arrows. I should stop it before to replay it if the person click more than once.

I try to do that but I can't xD

[2016-02-17 11:38] peduarte commented on #61
Great, good luck! :+1:

[2016-02-17 11:38] #61 closed

[2016-02-26 11:41] thasmo opened #62 "Add destroy method"
#25 mentions adding a `destroy` method. As I haven't found a ` destroy` method in the codebase, I propose to add one, because it's a very useful feature when implementing Wallop in RWD projects.

[2016-03-19 18:44] pvernaglia opened #63 "Auto Start"
Hi, Can you give an example of how to have wallop auto start and loop through the slides?  this is what carousel is for?  thanks

[2016-03-19 18:53] 19h47 commented on #63
Hi pvernaglia, Wallop doesn't have option for auto start, because peduarte wants to keep Wallop as simple as possible.
Carousel option is to loop through item. When slide reaches the end, it continues with the first item.

Personally, I do it with GSAP and the next() and previous() control when the animation is complete.

[2016-03-22 10:28] peduarte commented on #63
Hey @pvernaglia, what @19h47 said is spot on. I don't want to bloat this library with too many options, instead, I offer the tools you need to extend it to suit your use case.

I wrote a simple Auto Start example here: http://codepen.io/peduarte/pen/RapQBB

Hope it helps!

[2016-03-22 10:28] #63 closed

[2016-03-22 10:32] peduarte commented on #62
Merged, thanks!

[2016-03-22 10:32] #62 closed

[2016-04-04 15:25] oskarrough opened #64 "Doesn't work for form elements"
Hi, as `<form>` elements have a length they can't be used as Wallop containers because of this:

[code]

Any thoughts how we could like to deal with it? Something like `if (selector.tagName !== 'FORM' && selector.length > 0) {  ` perhaps?

Great module by the way, works really well otherwise!

[2016-04-05 07:56] afmarchetti opened #65 "Collaboration"
Hi Peduarte, you are a genius! Wallop is awesome.
I'm Andrea a Developer from Italy :-)

Can i use Wallop in my new front-end framework?
take a look: https://github.com/afmarchetti/alux

Thank you!
Andrea.

[2016-04-10 16:33] afmarchetti commented on #55
Hi guys Did you solve the issue? I have to slider with autoplay and the animations doesn't work properly

[2016-04-13 15:48] peduarte commented on #65
@afmarchetti hey, thanks! :smile: Yes you can use it, as long as it's still called Wallop and has credit to this repo.
Thanks and good luck! :)
Let me know when it's done

[2016-04-13 15:48] #65 closed

[2016-04-14 08:09] xaddict commented on #55
I found this issue too when using the autoplay example but changing it to autoplay 2 sliders. The classes 'hideprevious' and 'shownext' get added to only 1 of the sliders, not all.

[2016-04-14 09:16] peduarte commented on #55
Hey guys, so sorry for the delay on this. I promise I'll look into it as soon as I can. 🙏

[2016-04-20 12:20] henriquea commented on #64
@oskarrough I know isn't the ideal solution but you could wrap your form element around a `div`.

[2016-05-07 01:35] benjaminpkane commented on #55
Here
[code]
and here
[code]
`$$` is taking `element`, but it's just a string of a css class. The if is statement in `$$` is pointless.

`document.querySelectorAll` is querying the entire DOM. Also, it will always return an array, empty or not.  0 indexing an empty array returns null.

`removeAllHelperSettings` is basically just going to town on any DOM element with those classes.

[2016-05-11 08:55] afmarchetti opened #67 "Autostart reset timer"
Is possible reset the timer of the slide when a user click on next prev?

this is the code that i mean http://codepen.io/afmarchetti/pen/oxVeGY

[2016-05-17 15:08] peduarte commented on #67
Yeah but that's custom JS, that's up to you to decide how you want to do it.
What I mean is that this is not responsibility of Wallop.

Here's a tip: You'll most likely want to rely on wallops custom event: https://github.com/peduarte/wallop#listening-to-a-slide-change

[2016-05-17 15:08] #67 closed

[2016-06-05 21:16] rchrd2 commented on #13
Here's an improvement on the above code. It resets the autoplay timer when user clicks next.
[code]

[2016-07-01 12:34] Djules commented on #55
I've extended the ```$$``` helper function in order to query within a given container instead of the entire DOM, and fixed the OP issue as well.

[2016-07-13 07:54] peduarte commented on #55
@Djules Thanks, I'll take a look at the PR. What's the OP issue?

[2016-07-13 08:21] Djules commented on #55
OP stands for Original Poster, @curdin in this case :)

[2016-07-14 10:35] peduarte commented on #55
@Djules Ahhh ok! 👍

[2016-08-03 04:19] ladislavpr commented on #43
It seems like this issue was solved only for sliders with more than 2 items - or is this expected behaviour?

http://codepen.io/ladislav/pen/ZOrRRp

I have solved it in my project by changing isForward calculation

[2016-08-03 18:39] honzabilek4 opened #69 "Expose method for updating global variables"
Hi,
I've been using wallop at some websites and I was missing a method which would update wallop's global variables and allow me to dynamically change content.

[2016-08-15 15:30] peduarte commented on #69
Hi, I'm not sure what you mean?
Could you give me an example why you'd need access to wallop's global variables?

Thanks

[2016-08-15 16:28] honzabilek4 commented on #69
Let's say I'd like to add/remove some slides after wallop has been initialized. Real life example would be a gallery with multiple categories, for instance. But this might come handy in general I think. Another approach would be to destroy and initialize wallop again, however this is just a few lines and it enables you to easily update wallop's inner state. What do you think?

[2016-08-19 10:09] peduarte commented on #69
Ok let me think about this! Feel free to submit a PR with your proposal too 💛

[2016-08-19 10:23] #64 closed

[2016-08-21 19:56] S1SYPHOS commented on #13
Working great, thx for the code @rchrd2, but is there an easy way to implement pause-on-hover functionality?

[2016-08-21 20:19] honzabilek4 commented on #13
Simply add a new listener on `mouseenter` with `clearTimeout(nextTimeout)` and set it again on `mouseleave` :)

[2016-08-21 21:59] S1SYPHOS commented on #13
Thanks again!

[2016-08-24 11:12] praveenpuglia opened #71 "How to import it in an angular 2 project?"
I tried this

[code]

Says it can't find that module. Any help?

[2016-08-24 13:32] honzabilek4 commented on #71
Could you be more specific? This question is too broad, how can we know which tools/loaders are you using? :smile:

[2016-08-25 04:56] praveenpuglia commented on #71
I didn't realize it was important to say which loaders. Now i get it.

I am using Webpack and basically using this starter pack.
https://github.com/AngularClass/angular2-webpack-starter

I am guessing that I would ideally import it in **vendor** file but not sure how.

[2016-09-07 16:27] praveenpuglia commented on #71
I solved it by doing

[code]

and then in my component files I did

[code]

It works now :)

[2016-09-07 16:27] #71 closed

[2016-09-08 13:25] hayatbiralem opened #72 "How about multiple columns?"
Current version has one column. Sometimes we need two or more columns in carousel and even  we need different column count when responsive.

Do you plan to add multiple columns feature?

[2016-09-08 15:15] hayatbiralem opened #73 "New modifiers: show & hide"
Hey, I liked it very much. Thanks for this beautiful library :)

I have another suggestion.

Previous and Next modifiers are important for directional animations, I know that but some animations don't need them.

Currently we use this:

[code]

but this would be cleaner:

[code]

I think showClass and hideClass options would be great.

What do you think about this?

[2016-09-09 07:12] hayatbiralem opened #74 "New example: Wallop with Custom Markup"
Hey,

I just create a new example for Wallop. If you like it maybe you want to add to the examples or your Codepen collection.

Check it out: [Wallop with Custom Markup](http://codepen.io/hayatbiralem/pen/yaNqmZ)

Thanks.

[2016-09-11 12:58] honzabilek4 commented on #72
Hi,
I've been working working wallop recently and I believe that it's biggest advantage over tons of other solutions is that it's so simple, lightweight and easily customizable. In most cases, this is as much as you need. I think @peduarte was talking about extending wallop with some modules which would be totally optional allowing you to pick only the parts you really use.

[2016-09-12 09:27] hayatbiralem commented on #72
Hi,
I think you are right. Thanks ;)

[2016-09-12 09:27] #72 closed

[2016-09-12 09:49] peduarte commented on #72
Hey guys, I'd really like to keep wallop under 4kb. Like @honzabilek4 said the whole point of this library is to be simple but extensible via the API and Custom Events.

I still think the "plugins" idea would be good, but I've been too busy recently :(

[2016-09-12 10:04] hayatbiralem commented on #72
When I met with Bootstrap Carousel, I discovered CSS classes can be very useful for this things. Than I found Wallop and I said "Wow!" because it is tiny but more effective.

I think we need more works/idea like Wallop.

Glad to hear you are busy. Keep going to learn more and more. When you're ready, we'll be here for your improvements :)

Thanks.

[2016-09-12 10:25] peduarte commented on #72
Thanks so much @hayatbiralem 👍

[2016-09-17 02:15] NetOperatorWibby opened #75 "Uncaught (in promise) Error"
The error is `An instance of Wallop with this selector already exists.` I am using Wallop in my FeathersJS app and I am dynamically generating my UI with JavaScript. I instantiate Wallop in my render code and it everything works well. When I leave the tab and go back to it, I see this error and my slides are nowhere to be found.

I'm just referencing the `wallop.min.js` file. Should I be using npm

[2016-09-17 09:26] honzabilek4 commented on #75
Hi,
I'm not familiar with using FeatherJS but the idea is to instantiate the wallop object only once when page loads. Then, if the object already exists I'd only call my new method to refresh it's inner state on render. See the pending pull request #70.

[2016-09-17 14:36] NetOperatorWibby commented on #75
That PR has been pending for almost a month. If I were to take the code inside and apply it to my code, would it work?

[2016-09-17 15:58] honzabilek4 commented on #75
Yes, It should. It's just the reset method to be added.

[2016-09-21 03:05] NetOperatorWibby commented on #75
Finally had the time to try out your fixes. I copied and pasted the minified code and overwrote my file and the issue wasn't fixed completely. There was a slight glitch effect and I'm getting those `console` errors again. However, the first image of my carousel didn't disappear.

[2016-09-21 07:52] honzabilek4 commented on #75
Do you have some code samples or a project repository somewhere? This is too abstract to solve.

[2016-09-21 15:55] NetOperatorWibby commented on #75
My project is closed-source for now, but here's the code for the entire page

[code]

[2016-09-22 09:53] peduarte commented on #75
Hey guys, here's the latest release `2.4.0` https://github.com/peduarte/wallop/releases/tag/v2.4.0

Sorry it took so long, hope this will help you.

[2016-09-22 10:04] peduarte commented on #75
Pushed `2.4.1` a small patch updating docs...

[2016-09-22 12:26] NetOperatorWibby commented on #75
Thanks @peduarte! I hope it fixes my issue.

[2016-09-22 15:44] magicspon commented on #62
Hello,

Has a destory method been added? I can't see it in the source code.

Cheers

[2016-09-22 16:19] peduarte commented on #62
hello, wallop has `reset()` method  now which should be helpful when adding/removing items dynamically. Otherwise, CSS Media queries should be enough to turn the Slider into a Stacked list of items on mobile view.

[2016-09-28 10:22] Wifsimster commented on #75
Hi, thanks for this awesome plugin. However, we have a similar problem.
We have a component which creates a new instance each time it's refreshed and so throw a new error.

@peduarte, you said

But if the selector is already in selectorPool, you directly throw a new error, see above :
[code]
I think it would be more handy returning the instance directly without any error.

If you have a better sol

[2016-10-11 05:37] exdeniz opened #76 "Wallop is not a constructor"
I try init Wallop:
[code]

And receive error `Uncaught TypeError: Wallop is not a constructor`

[2016-10-11 05:47] exdeniz commented on #76
Change code:
[code]
and it's work.

[2016-10-11 05:47] #76 closed

[2016-10-13 08:19] peduarte commented on #75
Hi @Wifsimster, when you say a component are you referring to a React component?
It was @honzabilek4 who said that maybe he has a better solution?

I may consider introducing a `destroy` method so when you need to unmount your component you can clean up the bound events.

Also, I'm seriously thinking about a cheeky re-write as I'm not entirely happy with how the code is structured... just need som

[2016-10-13 08:19] peduarte commented on #74
Thanks!

[2016-10-13 08:21] peduarte commented on #73
If I understood your question correctly, you can already do this by passing custom options to wallop. https://github.com/peduarte/wallop#options

[2016-10-13 08:25] hayatbiralem commented on #73
I could not think how to do that? 😅

[2016-10-13 08:25] #73 closed

[2017-01-09 10:50] ugrupp commented on #43
i agree, this behaviour with 2 slides doesn't feel 'correct'. could you provide a PR with how you fixed it for your project @ladislavpr?

[2017-01-10 18:29] honzabilek4 commented on #69
This has been solved and mereged in #70, so I'm closing this issue.

[2017-01-10 18:29] #69 closed

[2017-01-28 18:38] garethjohnsdesign commented on #13
Can you give an example of this code? @honzabilek4

[2017-01-28 18:40] S1SYPHOS commented on #13
@garethjohnsdesign: Something like this:
[code]

[2017-02-03 22:02] essmahr commented on #62
Hi! I'd like to revisit this if possible. I think a destroy method would be beneficial, here's my use case:

I'm using wallop in a situation the entire domNode is being replaced via ajax. I can't `reset()` because all original bindings have been wiped out, even though the new markup is identical. And with the current approach, I can't reinstantiate, because wallop is caching the current selector a

[2017-02-04 13:23] honzabilek4 commented on #62
Hi,
I'd just like to say that this is closely related to issue #75.

[2017-02-10 10:59] nygdjs opened #77 "Include main in bower.json too"
First of all, many thanks for Wallop, I use it for tons of  various tasks recently 🙏

On one of these projects we handle dependencies with bower, and I have a gulp task that pick the main files based on the `bower.json`s and moves them during the build process. For Wallop this is currently not happening, because there is no `"main":` specified.

Can you add this please?

[2017-02-28 15:57] peduarte commented on #77
Hey sorry for the delay! I'm happy to accept a PR for this ;)

[2017-03-02 06:24] danimalweb commented on #63
Thanks for the Autostart code, its really helpful. What's the best way to get it to loop?

[2017-03-06 17:28] honzabilek4 commented on #75
Hi,
I think @Wifsimster is right. It would be more handy to return directly the wallop instance. I cannot see any shortcomings. This would also solve #62.
I can create the PR If you all agree.

[2017-03-06 18:34] honzabilek4 opened #79 "Wrong behaviour for slider with 2 slides"
Hi,

While having slider with only two slides and carousel on, you can notice that the `isForward` variable is always wrong on the second slide. This causes the silder to animate the other direction than expected.

It's the same issue as mentioned in #43, wich was solved only partially.

This happens due to the ambiguity of the next / previous slides. It's the same index (0) in fact and therefore

[2017-03-06 20:36] peduarte commented on #75
@honzabilek4 Right now I don't have time – not even to review unfortunately. But let's try and make this happen at some point in the near future. Your help will definitely be appreciated.

[2017-03-10 04:55] calliko opened #80 "slider autoplay"
Hello. Tell me please how to make your slider spin automatically. Many thanks.

[2017-03-10 05:06] calliko commented on #80
sorry. i see http://codepen.io/peduarte/pen/RapQBB

[2017-03-10 05:06] #80 closed

[2017-03-10 14:45] honzabilek4 commented on #75
@peduarte  okay, let me know then. I'm definitely in. 🙂

[2017-04-19 15:01] #77 closed

[2017-05-29 18:57] drnkwati opened #81 "Which browsers are supported?"
Please include browser support in readme
Thanks

[2017-05-30 18:34] honzabilek4 commented on #81
There are no compatibility issues for IE 9+. Other reasonably old browsers are fine as well. As far as I know, there is no such thing as officially supported browsers yet. However, you can go ahead and let us know. 🙂

[2017-07-25 19:32] PaddyMurphy opened #82 "Can't resolve 'Wallop’ when building on linux"
I just received this error while trying to build on a linux machine.

[code]

I fixed it by changing to lowercase ‘wallop’ like it is referenced in node_modules. Normally I build on a mac without issues. Can you update the documentation?

[2017-07-26 11:55] honzabilek4 commented on #82
Hi,
How are you loading the module? i.e which type of module loader are you using?

[2017-07-26 15:24] PaddyMurphy commented on #82
I'm using webpack 3.0.0 and babel-loader 7.0.0. MacOS & PC are not case-sensitive but Linux is.

[2017-07-27 19:32] honzabilek4 commented on #82
I see,
@neuraltone has already created a pull request for this. #83

[2017-07-27 22:19] PaddyMurphy commented on #82
Thanks!

[2017-08-28 21:11] alexpi opened #84 "Problem with absolute positioned items, flexbox and Firefox"
Hello,

I have a slideshow with image backgrounds and titles, centered on top of the images. I used flexbox on the slide divs, to center the absolute positioned titles on the images. This works fine in all browsers except Firefox, where the centering doesn't work as expected. I am getting jumpy title motion, or no centering at all.

I made a simple example here: [https://codepen.io/alexpi/pen/LjgB

[2017-08-29 09:09] honzabilek4 commented on #84
Hi,
this obviously isn't a Wallop issue. (How could it even possibly be?)
Tip for you: try to add `flex: 1 0 auto;` to` .Wallop-item{ }` . 😉
Regards,
JB

[2017-08-29 09:27] honzabilek4 commented on #84
Hi,
This isn't obviously a wallop bug.
Flexbox is mostly not playing very nicely with absolutely positioned elements.
You have at least two options to fix this:
- Add the images as a background and get rid of the position absolute on h1
- Use different vertical centering technique such as [this one](https://gist.github.com/honzabilek4/c9c44b2055868b1500aa781bf497fa66)
Regards,
JB

[2017-08-29 09:50] alexpi commented on #84
Thanks,

There is a simple solution I should have thought from the beginning: Put the flexbox container and positioned elements inside a separate 'slide' div, a child of the Wallop-item. Everything works perfect now.

[2017-08-29 11:12] honzabilek4 commented on #84
Nice, please close the issue if solved. 🙂

[2017-08-29 11:12] #84 closed

[2018-02-15 21:38] kylegoines opened #85 "equal height slides"
is there an easy way to achieve equal height slides?

[2018-02-16 09:28] honzabilek4 commented on #85
Depends on your use case.  It should be easy to accomplish with css or some javascript eventually. I don't think it has anything to do with the library. If you'll create some working example I can possibly give you a hint.

[2018-02-21 14:22] samnabi commented on #85
Here's what I did to achieve equal height slides. (Only works if there's one slider on the page)

[code]

[2018-02-21 19:05] honzabilek4 commented on #85
FYI: NodeList.prototype.forEach() is not supported in IE.

[2018-03-08 09:09] soumyanjaleemahapatra commented on #85
@honzabilek4 may be you could add a css rule for .Wallop-item?

[2018-07-12 17:41] missmatsuko opened #86 "All images broken on CodePen examples collection"
https://codepen.io/collection/DQWmxZ/

[2018-08-09 10:36] baspiotr opened #87 ".mp4 videos in slide don't work in Chrome"
Set data-background to .mp4 movie file make them playable on Safari but not work on Google Chrome.
`data-background="assets/images/films/background.mp4"`
Any idea how to fix it?

[2018-08-11 09:51] baspiotr commented on #87
Problem solved, chrome stop to support .mp4 format.
https://developer.mozilla.org/en-US/docs/Web/HTML/Supported_media_formats

[2018-08-11 09:51] #87 closed

[2019-01-25 10:10] AndreKelling opened #88 "Slide effect in Safari not nice"
In Safari the slide effect isn't very nice:

https://codepen.io/AndreKelling/pen/NoGQQr

Images just appear complete once they are fully slided in.

[2019-09-18 01:36] #75 closed

[2020-06-16 16:18] BortXIII opened #90 "Consuta Blancos entre distintas imagenes;"
Buenas tardes

He utilizado la librería para hacer un slider de imágenes de forma dinámica realizando la carga de imágenes mediante Post y a pesar de controlar la cantidad y resolución en la subida introduce imágenes en blanco cuando intento introducirlas mediante Jquerys cuando el numero de imágenes introducidas es muy grande.

Agradecería cualquier ayuda, guía o idea que pudiera orientarme para